@import "../../../styles/variables";
@import "../../../styles/mixins";

.dropdown {
  @include zeroShadow;
  align-items: flex-start;
  background-color: $white-color;
  border-radius: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 768px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9992;

  @media screen and (min-width: 768px) {
    max-width: 360px;
  }

  @media screen and (min-width: 1040px) {
    @include lightShadow;
    border: 1px solid $grey-color;
    border-radius: 16px;
    flex-direction: row;
    left: -100px;
    max-width: max-content;
    position: absolute;
    top: calc(100% + 10px);
  }

  &__aside {
    margin: 0 23px;
    padding: 12px 0;
    min-width: 280px;
    max-width: calc(280px + 2 * 40px);

    @media screen and (min-width: 1040px) {
      margin: 0;
      padding: 40px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-link {
      &:hover {
        .dropdown__aside {
          &-title,
          &-description {
            color: $blue-color;
            transform: translateX(10px) !important;
          }
        }
      }
    }

    &-title {
      color: $black-color-alt;
      font-family: $font-spoof-trail;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      transition: all 180ms ease-out;
    }

    &-description {
      color: $grey-color-darker;
      font-family: $font-inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      transition: all 180ms ease-out;
    }
  }

  &__nav {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $grey-color;
  }

  &__section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 23px;
    max-width: calc(800px - 2 * 40px);
    padding: 12px 0;
    width: 100%;

    @media screen and (min-width: 1040px) {
      margin: 0;
      padding: 40px;
    }
  }

  &__subtitle {
    @include titleInterSmall;
    color: $grey-color-darker;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 0 0;
    width: 100%;
    white-space: nowrap;

    @media screen and (min-width: 1040px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin: 24px auto 0 0;
    width: 50%;
  }

  &__link {
    align-items: center;
    color: $black-color-alt;
    display: flex;
    font-family: $font-spoof-trail;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: max-content;
    transition: all 180ms ease-out;

    &:hover {
      color: $blue-color;
      transform: translateX(10px);

      .dropdown__icon svg path {
        fill: $blue-color;
      }
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
  }
}
