@import "../../styles/variables";
@import "../../styles/mixins";

:root {
  --scroll-padding: 10px;
}

.slideshow {
  align-items: center;
  display: flex;

  &__list {
    animation: scroll-left-right 100s linear infinite;
    align-self: flex-start;
    align-items: center;
    display: flex;

    @keyframes scroll-left-right {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(-200%);
      }
    }
  }

  &__item {
    @include thinnerShadow;
    background-color: $grey-color;
    border: 18.5px solid $grey-color;
    border-radius: 24px;
    height: 360px;
    margin: 0 15px;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
}

@media screen and (min-width: 375px) {
  :root {
    --scroll-padding: 10px;
  }
}

@media screen and (min-width: 425px) {
  :root {
    --scroll-padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --scroll-padding: 30px;
  }
}
