@import "../../styles/variables";
@import "../../styles/mixins";

.banner-section {
  background-color: $blue-color;
  overflow: hidden;
  position: relative;

  > img {
    position: absolute;
    z-index: 0;
  }

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0 !important;
    position: relative;
    z-index: 1;
  }

  &__image {
    margin: auto 86px 0 0;
    height: 523px;
    max-width: 565px;
    position: relative;

    img {
      bottom: 0;
      height: 100%;
    }
  }
}
