@import "../../styles/variables";
@import "../../styles/mixins";

.big-cards {
  &__container {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    width: 100%;

    &--wrap {
      flex-wrap: wrap;

      > li {
        width: calc((100% - 25px) / 2);
      }
    }
  }
}
