@import "../../../styles/variables";
@import "../../../styles/mixins";

.easy-management {
  background-color: $grey-color;
  border-radius: 24px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  min-height: 100%;
  overflow: hidden;
  position: relative;

  img {
    pointer-events: none;
  }

  &__image {
    position: absolute;

    &--1 {
      left: 20px;
      top: 0;
      max-width: 250px;
    }

    &--2 {
      max-width: 350px;
      right: 0;
      top: 0;
    }

    &--3 {
      bottom: 0;
      max-width: 450px;
      right: 0;
    }
  }

  &__icon {
    position: absolute;
    z-index: 2;

    &--1 {
      max-width: 50px;
      left: 30px;
      top: 300px;
    }

    &--2 {
      max-width: 50px;
      left: 30px;
      top: 370px;
    }
  }

  &__box-size {
    opacity: 0;
    width: 100%;
  }
}
