@import "../../styles/variables";
@import "../../styles/mixins";

.big-cards-section {
  background-color: $white-color;
  overflow: hidden;

  &__container {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 0 !important;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0;
    max-width: 700px;

    @media screen and (min-width: 768px) {
      gap: 24px;
      margin: 100px 0;
    }
  }

  &__spans {
    align-items: center;
    display: flex;
    gap: 8px;
  }

  &__span {
    background-color: $black-color-alt;
    border-radius: 90px;
    color: $white-color;
    font-family: $font-spoof-trial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 10px;
    line-height: 28px;
    padding: 8px 16px;
  }

  &__title {
    @include subtitleSpoofTrialBig;
    text-align: center;
  }

  &__description {
    @include descriptionSpoofTrialVeryBig;
  }

  &__bottom {
    &-links {
      align-items: center;
      display: flex;
      gap: 16px;
    }

    &-link {
      @include button;
      background-color: $white-color-alt;
      border: 2px solid $light-white-color;
      height: 24px;
      padding: 12px 24px;

      @media screen and (min-width: 425px) {
        padding: 16px 32px;
      }

      @media screen and (min-width: 768px) {
        height: 48px;
      }

      svg {
        width: 100%;
      }

      &:hover {
        background-color: $light-white-color;
      }
    }
  }

  &__bottom {
    &-buttons {
      align-items: center;
      background-color: $grey-color;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: space-between;
      padding: 8px;

      @media screen and (min-width: 650px) {
        border-radius: 90px;
        flex-direction: row;
      }
    }

    &-button {
      background-color: transparent;
      border-radius: 90px;
      color: $grey-color-darker;
      font-family: $font-inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      padding: 12px 16px;
      position: relative;
      height: 48px;
      transition: all 180ms ease-out;
      white-space: nowrap;
      width: 190px;
      z-index: 1;

      &--active {
        background-color: $yellow-color;
        color: $black-color;

        @media screen and (min-width: 650px) {
          background-color: transparent;
        }
      }
    }

    &-line {
      border-radius: 90px;
      background-color: $yellow-color;
      display: none;
      height: 48px;
      position: absolute;
      transition: all 380ms $animation-2;
      width: 190px;
      z-index: 0;

      @media screen and (min-width: 650px) {
        display: block;
      }
    }
  }

  &__bottom-image {
    display: flex;
    justify-content: center;
    margin: -40px auto 0 auto;
    min-height: 150px;
    max-width: 1200px;
    width: 100%;
    position: relative;
    transform: translate(0, 40px) !important;
    transition: all 150ms ease-in-out;

    img {
      @include thinShadow;
      border-radius: 12px 12px 0px 0px;
      position: absolute;
      width: 100%;

      @media screen and (min-width: 768px) {
        border-radius: 32px 32px 0px 0px;
      }
    }

    @media screen and (min-width: 415px) {
      min-height: 200px;
    }

    @media screen and (min-width: 540px) {
      min-height: 250px;
    }

    @media screen and (min-width: 650px) {
      min-height: 300px;
    }

    @media screen and (min-width: 768px) {
      margin: -80px auto 0 auto;
      transform: translate(0, 80px) !important;
    }

    @media screen and (min-width: 1024px) {
      min-width: 900px;
    }

    @media screen and (min-width: 1260px) {
      min-height: 560px;
      min-width: 900px;
    }
  }
}
