@import "../../styles/variables";
@import "../../styles/mixins";

.compliance {
  padding-top: 30px;

  &__container {
    @include container;
  }

  &__title {
    @include titleSpoofTrail;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    @include subtitleSpoofTrail;
  }

  &__description {
    @include descriptionInterBig;
    display: flex;
    flex-direction: column;
    margin: 18px 0;
  }
}
