@import "../../styles/variables";
@import "../../styles/mixins";

.compliance {
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
  &__container {
    @include container;
  }

  &__title {
    @include titleSpoofTrial;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    @include subtitleSpoofTrial;
  }

  &__description {
    @include descriptionInterBig;
    display: flex;
    flex-direction: column;
    margin: 18px 0;
  }
}
