@import "../../styles/variables";
@import "../../styles/mixins";

.icon-cards {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  &--standard {
    flex-wrap: wrap;

    > li {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 12px);
      }

      @media screen and (min-width: 1040px) {
        width: calc(100% / 4 - 20px);
      }
    }
  }

  &--big {
    flex-wrap: wrap;

    > li {
      width: 100%;

      @media screen and (min-width: 535px) {
        width: calc(100% / 2 - 12px);
      }

      @media screen and (min-width: 768px) {
        width: calc(100% / 3 - 20px);
      }
    }
  }

  &--very-big {
    flex-wrap: wrap;

    > li {
      width: 100%;

      @media screen and (min-width: 535px) {
        width: calc(100% / 2 - 12px);
      }

      @media screen and (min-width: 768px) {
        width: calc(100% / 4 - 20px);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
