@import "../../styles/variables";
@import "../../styles/mixins";

.icon-cards {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  &--wrap {
    flex-wrap: wrap;

    > li {
      width: calc((100% - 24px * 2) / 3);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
