@import "../../styles/variables";
@import "../../styles/mixins";

@mixin addOns {
  &--1 {
    left: 0;
    top: 0;
    max-width: 550px;
  }

  &--2 {
    columns: 2;
    max-width: 380px;
    position: absolute;
    top: 0px;
    right: -110px;

    img {
      @include lightShadow;
      border-radius: 16px;
      margin: 4.5px;
      overflow: hidden;
      width: 180px;
    }
  }
}
