@import "../../styles/variables";
@import "../../styles/mixins";

@mixin addOns {
  &--1 {
    left: 0;
    top: 0;
    max-width: 550px;
  }

  &--2 {
    bottom: -350px;
    display: grid;
    grid-gap: 9px;
    grid-template-columns: 128px 128px 128px;
    grid-row: 78px;
    left: -80px;
    max-width: 380px;
    position: absolute;

    @media screen and (min-width: 425px) {
      left: 0;
      bottom: -65px;
      grid-template-columns: 128px 128px 128px 128px 128px;
    }

    @media screen and (min-width: 768px) {
      bottom: calc(-100% - 140px);
      left: -30px;
      grid-template-columns: 196px 196px 196px;
      grid-row: 120px;
    }

    @media screen and (min-width: 1024px) {
      bottom: auto;
      grid-template-columns: 196px 196px;
      left: auto;
      right: -110px;
      top: 0px;
    }

    img {
      @include lightShadow;
      border-radius: 16px;
      margin: 4.5px;
      overflow: hidden;
      width: 180px;
    }
  }
}

@mixin addOnsCard {
  min-width: 50%;

  @media screen and (min-width: 1024px) {
    min-width: 60%;
  }

  .animated-card {
    height: 500px;

    @media screen and (min-width: 768px) {
      height: 400px;
    }

    &__content {
      > * {
        max-width: 270px;
      }
    }
  }
}
