@import "../../styles/variables";
@import "../../styles/mixins";

@import "./Marketing";
@import "./OngoingUpdates";
@import "./Ship";
@import "./Hassle";
@import "./AddOns";
@import "./EasyManagement";
@import "./Relationship";
@import "./CustomerManagement";
@import "./SmartControl";
@import "./Rocket";
@import "./RocketV2";
@import "./Secure";
@import "./Support";
@import "./Delivery";
@import "./BuiltForGrowth";
@import "./Customization";
@import "./Vision";
@import "./WeAre";
@import "./Blog";
@import "./HowToGuides";
@import "./MoneyBag";
@import "./PhoneChat";
@import "./Speaker";
@import "./TechnologyPartner";
@import "./ThreePeopleLaptop";
@import "./TwoMenHandshake";
@import "./GirlWithLaptop";
@import "./ManWithTablet";
@import "./ManWithSPeaker";
@import "./Rating";
@import "./Mobile";

.animated-card {
  @include lightShadow;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 500px;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 100%;

  &--light-white {
    background-color: $light-white-color !important;
  }

  &--grey {
    background-color: $grey-color !important;
  }

  &--light-yellow {
    background-color: $yellow-color-light-2 !important;
  }

  &--yellow-gradient {
    background: $yellow-gradient !important;
  }

  &--green-gradient {
    background: $green-gradient !important;
  }

  &--red-gradient {
    background: $red-gradient !important;
  }

  &--grey-gradient {
    background: $grey-gradient !important;
  }

  > img {
    opacity: 0;
    width: 100%;
  }

  img {
    pointer-events: none;
  }

  &__workaround {
    &--with-content {
      height: 0;
    }
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100% - 2 * 15px);
    padding: 15px;
    position: relative;
    min-width: calc(100% - 2 * 15px);
    z-index: 20;

    @media screen and (min-width: 768px) {
      gap: 23px;
      height: calc(100% - 2 * 40px);
      padding: 40px;
      min-width: calc(100% - 2 * 40px);
    }
  }

  &__title {
    @include subtitleSpoofTrialBig;
  }

  &__description {
    @include descriptionInter;
    max-width: 350px;
  }

  &__link {
    @include buttonBlue;
  }

  &__background {
    max-width: 500px;
    position: absolute;
    width: 100%;

    &--tick-1 {
      left: 0;
      top: 0;
      z-index: 0;
    }

    &--tick-2 {
      bottom: 0;
      right: 0;
      z-index: 0;
    }

    &--tick-3 {
      right: 0;
      top: 0;
      z-index: 0;
    }
  }

  &__assets {
    position: absolute;
  }

  &__marketing {
    @include marketing;
  }

  &__ongoing-updates {
    @include ongoingUpdates;
  }

  &__ship {
    @include ship;
  }

  &__hassle {
    @include hassle;
  }

  &__easy-management {
    @include easyManagement;
  }

  &__add-ons {
    @include addOns;
  }

  &--add-ons {
    @include addOnsCard;
  }

  &__relationship {
    @include relationship;
  }

  &__customer-management {
    @include customerManagement;
  }

  &__smart-control {
    @include smartControl;
  }

  &__rocket {
    @include rocket;
  }

  &__rocket-v2 {
    @include rocketV2;
  }

  &--rocket-v2 {
    @include rocketV2Content;
  }

  &__support {
    @include support;
  }

  &__secure {
    @include secure;
  }

  &__delivery {
    @include delivery;
  }

  &__built-for-growth {
    @include builtForGrowth;
  }

  &__customization {
    @include customization;
  }

  &__vision {
    @include vision;
  }

  &__we-are {
    @include weAre;
  }

  &__blog {
    @include blog;
  }

  &__how-to-guides {
    @include howToGuides;
  }

  &__money-bag {
    @include moneyBag;
  }

  &__phone-chat {
    @include phoneChat;
  }

  &__speaker {
    @include speaker;
  }

  &__technology-partner {
    @include technologyPartner;
  }

  &__three-people-laptop {
    @include threePeopleLaptop;
  }

  &__two-men-handshake {
    @include twoMenHandshake;
  }

  &__girl-with-laptop {
    @include girlWithLaptop;
  }

  &__man-with-tablet {
    @include manWithTablet;
  }

  &__man-with-speaker {
    @include manWithSPeaker;
  }

  &__rating {
    @include rating;
  }

  &__mobile {
    @include mobile;
  }
}
