@import "../../styles/variables";
@import "../../styles/mixins";

@mixin easyManagement {
  &--1 {
    left: 20px;
    top: 0;
    max-width: 250px;
  }

  &--2 {
    max-width: 250px;
    right: 0;
    top: 0;
  }

  &--3 {
    bottom: 0;
    max-width: 450px;
    right: 0;
  }

  &--4 {
    max-width: 50px;
    left: 30px;
    top: 300px;
  }

  &--5 {
    max-width: 50px;
    left: 30px;
    top: 370px;
  }
}

@mixin easyManagementCard {
  min-width: 70% !important;
  max-width: 70% !important;
}
