@import "../../styles/variables";
@import "../../styles/mixins";

@mixin mobileMeat {
  &--1 {
    bottom: 0;
    left: 0;
    max-width: 500px;
    transform-origin: center 100%;
    z-index: 1;

    @media screen and (min-width: 425px) {
      left: calc(50% - 340px / 2);
      max-width: 340px;
      transform-origin: center 175px;
    }

    @media screen and (min-width: 900px) {
      left: calc(50% - 380px / 2);
      max-width: 380px;
      transform-origin: center 195px;
    }
  }

  &--2 {
    bottom: 0;
    left: calc(50% - 185px / 2);
    max-width: 185px;
    z-index: 2;

    @media screen and (min-width: 425px) {
      bottom: 0;
      left: calc(50% - 205px / 2);
      max-width: 205px;
    }

    @media screen and (min-width: 768px) {
      left: calc(50% - 165px / 2);
      max-width: 165px;
    }

    @media screen and (min-width: 900px) {
      bottom: -20px;
      left: calc(50% - 225px / 2);
      max-width: 225px;
    }
  }
}

@mixin mobileMeatCard {
  .animated-card {
    height: 400px;

    @media screen and (min-width: 768px) {
      height: 450px;
    }

    &__content {
      > * {
        max-width: 100%;
      }
    }
  }
}
