@import "../../styles/variables";
@import "../../styles/mixins";

@mixin smartControl {
  &--1 {
    right: 0;
    top: 0;
    max-width: 320px;
  }

  &--2 {
    max-width: 320px;
    right: 0;
    bottom: -180px;

    @media screen and (min-width: 425px) {
      bottom: -50px;
    }

    @media screen and (min-width: 768px) {
      bottom: 0;
    }
  }

  &--3 {
    @include lightShadow;
    border-radius: 40px;
    max-width: 350px;
    overflow: hidden;
    left: -60px;
    top: 10px;
    transform: scale(0.58) !important;

    @media screen and (min-width: 425px) {
      left: -20px;
      transform: scale(0.65) !important;
    }

    @media screen and (min-width: 768px) {
      bottom: -20px;
      top: auto;
    }
  }
}

@mixin smartControlCard {
  height: 475px;

  @media screen and (min-width: 768px) {
    height: 450px;
  }
}
