@import "../../styles/variables";
@import "../../styles/mixins";

@mixin support {
  &--1 {
    bottom: 0;
    left: calc(50% - 380px / 2);
    max-width: 380px;
    transform-origin: center 195px;
    z-index: 0;
  }

  &--2 {
    bottom: 0;
    left: calc(50% - 380px / 2);
    max-width: 380px;
    z-index: 1;
  }
}
