@import "../../styles/variables";
@import "../../styles/mixins";

@mixin twoMenHandshake {
  &--1 {
    bottom: 0;
    left: 0;
    max-width: 400px;
    z-index: 1;

    @media screen and (min-width: 425px) {
      left: calc(50% - 400px / 2);
      max-width: 400px;
    }

    @media screen and (min-width: 768px) {
      bottom: -40px;
      left: calc(50% - 350px / 2);
      max-width: 350px;
    }
  }
}
