@import "../../styles/variables";
@import "../../styles/mixins";

@mixin vision {
  &--1 {
    bottom: top;
    max-width: 600px;
    left: 0;
    z-index: 1;
  }

  &--2 {
    bottom: -40px;
    left: calc(50% - 300px / 2);
    max-width: 300px;
    z-index: 1;

    @media screen and (min-width: 425px) {
      bottom: 0;
      left: calc(50% - 340px / 2);
      max-width: 340px;
    }

    @media screen and (min-width: 768px) {
      bottom: -40px;
      left: calc(50% - 260px / 2);
      max-width: 260px;
    }
  }
}

@mixin visionsCard {
  .animated-card {
    height: 500px;

    @media screen and (min-width: 768px) {
      height: 475px;
    }

    &__content {
      > * {
        max-width: 100%;
      }
    }
  }
}
