@import "../../styles/variables";
@import "../../styles/mixins";

.row-cards-section-with-big-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 0 60px;

    @media screen and (min-width: 1024px) {
      margin: 0 60px 0 0;
      max-width: 545px;
    }
  }

  &__item {
    align-items: center;
    background-color: $grey-color;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 16px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: unset;
    }
  }

  &__title {
    @include titleInter;
    text-align: center;

    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }

  &__description {
    @include descriptionInterBig;
    color: $black-color-alt;
    text-align: center;

    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

    text-align: center;

    @media screen and (min-width: 1024px) {
      align-items: flex-start;
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 16px 0 0;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    padding: 17px;

    svg {
      height: 100%;
      width: 100%;
    }

    &--blue,
    &--yellow {
      border-radius: 50%;
    }

    &--blue {
      background-color: $blue-color;

      path {
        fill: $white-color;
      }
    }

    &--yellow {
      background-color: $yellow-color;

      path {
        fill: $black-color-alt;
      }
    }
  }

  &__big-cards {
    @media screen and (min-width: 1024px) {
      max-width: 50%;
    }
  }
}
