@import "../../styles/variables";
@import "../../styles/mixins";

.row-cards-section-with-big-card {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 60px 0 0;
    max-width: 545px;
  }

  &__item {
    align-items: center;
    background-color: $grey-color;
    border-radius: 24px;
    display: flex;
    padding: 20px 16px;
  }

  &__title {
    @include titleInter;
  }

  &__description {
    @include descriptionInterBig;
    color: $black-color-alt;
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 16px 0 0;
    height: 50px;
    width: 50px;
  }
}
