@import "../../styles/variables";
@import "../../styles/mixins";

.common-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  position: relative;

  &--offset {
    margin: 112px 0 0 0;
    padding-top: 120px;
  }

  &--grey {
    background-color: $grey-color;
  }

  &--yellow {
    background-color: $yellow-color;
  }

  &--white {
    background-color: $white-color;
  }

  > img {
    left: 50%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, 0);
    z-index: 0;
  }

  &__container {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    z-index: 2;
  }

  &__title {
    color: $black-color;
    text-align: center;
    font-family: $font-spoof-trail;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    line-height: 110px;
    overflow: hidden;

    span {
      border-radius: 22px;
      background: $yellow-color;
      padding: 0 10px;
    }
  }

  &__subtitle {
    color: $black-color;
    text-align: center;
    font-family: $font-spoof-trail;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

    span {
      border-radius: 22px;
      background: $yellow-color;
      padding: 0 10px;
    }
  }

  &__item {
    align-items: center;
    color: $black-color;
    display: flex;
    font-family: $font-inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    transition: all 120ms ease-out;

    &:hover {
      transform: translate(0, -5px) scale(1.08);
    }

    span:first-of-type {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 4px 0 0;
    }
  }

  &__description {
    align-items: center;
    color: $black-color;
    display: flex;
    text-align: center;
    font-family: $font-spoof-trail;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    gap: 30px;

    span {
      align-items: center;
      display: flex;
      gap: 5px;
    }
  }

  &__button {
    @include buttonBlue;
    width: max-content;
  }

  &__component {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }

  &__image {
    margin: 0 auto;
    max-width: 1220px;
    position: relative;
    z-index: 1;

    &.section-separator {
      transform: translate(0, 72px);
      margin: -72px auto 0 auto;

      &-big {
        margin: -121px auto 0 auto;
        transform: translate(0, 121px);
      }
    }

    img {
      border-radius: 24px 24px 0px 0px;
      box-shadow: 0px -2px 16px 1px rgba(0, 0, 0, 0.47);
      -webkit-box-shadow: 0px -2px 16px 1px rgba(0, 0, 0, 0.47);
      -moz-box-shadow: 0px -2px 16px 1px rgba(0, 0, 0, 0.47);
      width: 100%;
    }
  }

  &__separator-image {
    align-items: center;
    display: flex;
    width: 100vw;

    &.section-separator {
      span {
        height: 72px;
      }

      &-big {
        span {
          height: 121px;
        }
      }
    }
  }
}
