@import "../../styles/variables";
@import "../../styles/mixins";

.common-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  position: relative;

  &--offset {
    padding-top: 60px;

    @media screen and (min-width: 768px) {
      padding-top: 30px;
    }
  }

  &--grey {
    background-color: $grey-color;
  }

  &--yellow {
    background-color: $yellow-color;

    .common-section__title,
    .common-section__subtitle,
    .common-section__description {
      color: $black-color !important;
    }
  }

  &--white {
    background-color: $white-color;
  }

  &--blue {
    background-color: $blue-color;

    .common-section__title,
    .common-section__subtitle,
    .common-section__description {
      color: $white-color !important;
    }
  }

  &--section-separator-big {
    gap: 0;
  }

  &__background {
    position: absolute;
    z-index: 0;

    &--blue-small-spirals,
    &--white-brushes-flipped {
      height: 100%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &--blue-spiral,
    &--grey-spiral {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
    }

    &--yellow-brush {
      left: 0;
      top: 0;
    }
  }

  &__container {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;

    @media screen and (min-width: 768px) {
      gap: 90px;
    }

    &--row {
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 768px) {
        gap: 10px;
      }

      .icon-cards {
        flex-wrap: wrap;
        min-width: 100% !important;

        &__item {
          width: 100%;

          @media screen and (min-width: 550px) {
            width: calc((100% - 24px * 2) / 2);
          }

          @media screen and (min-width: 768px) {
            width: 100%;
          }

          @media screen and (min-width: 1075px) {
            width: calc((100% - 24px * 2) / 2);
          }
        }
      }

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }

    &--align-top {
      align-items: flex-start;
    }

    &--bigger-gap {
      gap: 20px;

      @media screen and (min-width: 768px) {
        gap: 80px;
      }
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--align-left {
      * {
        text-align: center !important;
      }

      @media screen and (min-width: 768px) {
        align-items: flex-start;

        * {
          text-align: left !important;
        }
      }
    }

    &--switch-order {
      order: 0;

      @media screen and (min-width: 768px) {
        order: 10;
      }
    }

    @media screen and (min-width: 768px) {
      gap: 40px;
    }
  }

  &__title {
    @include titleSpoofTrial;
    text-align: center;
  }

  &__subtitle {
    @include subtitleSpoofTrialBig;
    text-align: center;
  }

  &__item {
    align-items: center;
    color: $black-color;
    display: flex;
    font-family: $font-inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    transition: all 120ms ease-out;

    &:hover {
      transform: translate(0, -5px);
    }

    span:first-of-type {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 4px 0 0;
    }
  }

  &__description {
    @include descriptionSpoofTrial;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
    transition: all 150ms ease-in-out;

    span {
      align-items: center;
      display: flex;
      gap: 5px;
    }

    @media screen and (min-width: 425px) {
      gap: 30px;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 31px 0;
  }

  &__item-text {
    align-items: center;
    color: $black-color;
    display: flex;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: left;

    span svg {
      background-color: $black-color;
      border-radius: 50%;
      height: 18px;
      margin: 0 15px 0 0;
      padding: 3px;
      width: 18px;

      path {
        fill: $white-color;
      }
    }
  }

  &__button {
    width: max-content;

    &--blue {
      @include buttonBlue;
    }

    &--yellow {
      @include buttonYellow;
    }
  }

  &__icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 14px;

    &--yellow {
      background-color: $yellow-color;

      svg path {
        fill: $black-color;
      }
    }

    &--blue {
      background-color: $yellow-color;

      svg path {
        fill: $white-color;
      }
    }

    &--transparent {
      background-color: transparent;
    }
  }

  &__component {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }

  &__image {
    min-width: 45%;

    img {
      width: 100%;
    }
  }

  &__bottom-image {
    margin: 0 auto;
    max-width: 1220px;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    z-index: 1;

    &--section-separator-medium {
      transform: translate(0, 72px) !important;
      margin: -72px auto 0 auto;
    }

    &--section-separator-big {
      margin: -121px auto 0 auto;
      transform: translate(0, 121px);
    }

    img {
      @include lightShadow;
      width: 100%;
    }
  }

  &__separator-image {
    align-items: center;
    display: flex;
    width: 100vw;

    &--section-separator-medium {
      span {
        height: 72px;
      }
    }

    &--section-separator-big {
      opacity: 0 !important;

      @media screen and (min-width: 425px) {
        opacity: 1 !important;
      }

      span {
        height: 121px;
      }
    }
  }
}
