@import "../../styles/variables";
@import "../../styles/mixins";

.accordions {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &__buttons {
    align-items: center;
    display: flex;
    gap: 8px;
    margin: 0 0 50px;

    &-button {
      @include thinnerShadow;
      background-color: $grey-color;
      border: 2px solid $grey-color;
      border-radius: 50px;
      font-family: $font-spoof-trail;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      padding: 10px 16px;
      transition: all 150ms ease-in-out;
      white-space: nowrap;

      &:hover {
        background-color: $white-color;
        border: 2px solid $white-color;
      }

      &--active {
        border: 2px solid $blue-color;
        color: $blue-color;
      }
    }
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    width: 100%;
    transition: all 430ms ease-out;
  }

  &__button {
    @include thinnerShadow;
    background-color: $white-color-opacity;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 24px;
    transition: all 150ms ease-in-out;
    width: calc(100% - 24px * 2);

    &:hover {
      background-color: $grey-color;
    }

    &-title {
      @include titleInter;
      align-items: center;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-align: left;

      span {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    &-content {
      display: grid;
      grid-template-rows: 0fr;
      transition: all 250ms $animation-2;

      &--active {
        grid-template-rows: 1fr;
      }
    }

    &-description {
      color: $black-color;
      font-family: $font-inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      overflow: hidden;
      text-align: left;
    }
  }

  &__icon {
    transform: rotate(0);
    transition: all 220ms ease-out;

    &--active {
      transform: rotate(180deg);
    }
  }
}
