@import "../../styles/variables";
@import "../../styles/mixins";

.accordions {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width: 100%;
  transition: all 430ms ease-out;

  &__button {
    @include thinnerShadow;
    background-color: $white-color-opacity;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 24px;
    transition: all 150ms ease-in-out;
    width: calc(100% - 24px * 2);

    &:hover {
      background-color: $grey-color;
    }

    &-title {
      align-items: center;
      color: $black-color;
      background-color: transparent;
      display: flex;
      font-family: $font-inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      justify-content: space-between;
      line-height: 32px;
      width: 100%;

      span {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    &-content {
      display: grid;
      grid-template-rows: 0fr;
      transition: all 250ms $animation-2;

      &--active {
        grid-template-rows: 1fr;
      }
    }

    &-description {
      color: $black-color;
      font-family: $font-inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      overflow: hidden;
      text-align: left;
    }
  }

  &__icon {
    transform: rotate(0);
    transition: all 220ms ease-out;

    &--active {
      transform: rotate(180deg);
    }
  }
}
