@import "./variables.scss";

@mixin regularShadow {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
}

@mixin lightShadow {
  box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
}

@mixin thinShadow {
  box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
}

@mixin thinnerShadow {
  box-shadow: 3px -4px 18px -10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 3px 4px 18px -10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 3px -4px 18px -10px rgba(0, 0, 0, 0.47);
}

@mixin thinnerRightShadow {
  box-shadow: 4px 10px 18px -10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 4px 10px 18px -10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 4px 10px 18px -10px rgba(0, 0, 0, 0.47);
}

@mixin zeroShadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

@mixin container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 10px;
  transition: all 150ms linear;

  @media screen and (min-width: 375px) {
    padding: 20px 10px;
  }

  @media screen and (min-width: 425px) {
    padding: 30px 15px;
  }

  @media screen and (min-width: 768px) {
    padding: 80px 30px;
  }
}

@mixin button {
  @include lightShadow;
  align-items: center;
  border: 0;
  border-radius: 90px;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  justify-content: flex-start;
  padding: 9px 12px;
  text-align: center;
  transition: all 150ms ease-out;

  &::after {
    content: "➜";
    opacity: 0;
    transition:
      all 150ms ease-out,
      opacity 200ms ease-out;
    width: 0;
  }

  &:hover {
    transform: translate(-4px, 0);

    &::after {
      content: "➜";
      opacity: 1;
      width: 16px;
    }
  }

  @media screen and (min-width: 375px) {
    font-size: 14px;
    padding: 12px 16px;

    &:hover {
      padding: 9px 9px 9px 12px;

      &::after {
        padding: 0 0 0 4px;
      }
    }
  }

  @media screen and (min-width: 425px) {
    font-size: 14px;
    padding: 16px 20px;

    &:hover {
      padding: 16px 16px 16px 20px;

      &::after {
        padding: 0 0 0 8px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 24px;
    padding: 16px 20px;

    &:hover {
      padding: 16px 16px 16px 20px;

      &::after {
        padding: 0 0 0 8px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: 28px;
    padding: 16px 32px;

    &:hover {
      padding: 16px 16px 16px 32px;

      &::after {
        padding: 0 0 0 8px;
      }
    }
  }
}

@mixin buttonBlue {
  @include button;
  background-color: $blue-color;
  color: $white-color;

  &:hover {
    background-color: $black-color;
    color: $yellow-color;
  }
}

@mixin buttonYellow {
  @include button;
  background-color: $yellow-color;
  color: $black-color;

  &:hover {
    background-color: $black-color;
    color: $yellow-color;

    svg path {
      fill: $yellow-color;
    }
  }
}

@mixin buttonBlack {
  @include button;
  background-color: $black-color-alt;
  color: $white-color;

  &:hover {
    background-color: $white-color;
    color: $black-color-alt;
  }
}

@mixin buttonWhite {
  @include button;
  background-color: $grey-color;
  color: $black-color;

  &:hover {
    background-color: $white-color-alt;
    color: $black-color;
  }
}

@mixin animatedHighlight {
  @keyframes highlight {
    0% {
      border-radius: 0px;
      width: 0%;
    }
    18% {
      border-radius: 10px;
      width: 104%;
    }
    30% {
      border-radius: 12px;
      width: 94%;
    }
    42% {
      border-radius: 16px;
      width: 102%;
    }
    56% {
      border-radius: 22px;
      width: 90%;
    }
    60% {
      border-radius: 0;
      width: 100%;
    }
    90% {
      border-radius: 22px;
      width: 100%;
    }
    100% {
      border-radius: 0px;
      width: 0%;
    }
  }

  display: inline-flex;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &::before {
    animation: highlight 5s $animation-2 infinite;
    background: $yellow-color;
    display: inline-block;
    content: "";
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

@mixin titleSpoofTrail {
  color: $black-color;
  font-family: $font-spoof-trail;
  font-size: 90px;
  font-style: normal;
  font-weight: 800;
  justify-content: center;
  line-height: 110px;
  text-align: center;

  span {
    @include animatedHighlight;
    padding: 0 10px;
  }
}

@mixin titleSpoofTrailSmall {
  color: $black-color;
  text-align: center;
  font-family: $font-spoof-trail;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

@mixin subtitleSpoofTrailBig {
  color: $black-color;
  font-family: $font-spoof-trail;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-align: left;

  span {
    @include animatedHighlight;
    padding: 0 10px;
    line-height: 66px;
  }
}

@mixin subtitleSpoofTrail {
  color: $black-color;
  font-family: $font-spoof-trail;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

@mixin subtitleSpoofTrailSmall {
  color: $black-color;
  text-align: center;
  font-family: $font-spoof-trail;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

@mixin descriptionSpoofTrail {
  color: $black-color;
  font-family: $font-spoof-trail;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

@mixin descriptionSpoofTrailVeryBig {
  color: $black-color;
  font-family: $font-spoof-trail;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
}

@mixin titleInterSmall {
  color: $black-color;
  font-family: $font-inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

@mixin titleInter {
  color: $black-color;
  text-align: center;
  font-family: $font-inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

@mixin descriptionInter {
  color: $black-color;
  font-family: $font-inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@mixin descriptionInterBig {
  color: $black-color;
  font-family: $font-inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin descriptionManropeSmall {
  color: $black-color;
  font-family: $font-manrope;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@mixin descriptionManrope {
  color: $black-color;
  font-family: $font-manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
