@import "./variables.scss";

@mixin regularShadow {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
}

@mixin lightShadow {
  box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
}

@mixin thinShadow {
  box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
}

@mixin thinnerShadow {
  box-shadow: 3px -4px 18px -10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 3px 4px 18px -10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 3px -4px 18px -10px rgba(0, 0, 0, 0.47);
}

@mixin container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 10px;
  transition: all 150ms linear;

  @media screen and (min-width: 375px) {
    padding: 20px 10px;
  }

  @media screen and (min-width: 425px) {
    padding: 30px 15px;
  }

  @media screen and (min-width: 768px) {
    padding: 80px 30px;
  }
}

@mixin button {
  @include lightShadow;
  align-items: center;
  border: 0;
  border-radius: 90px;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  justify-content: flex-start;
  padding: 9px 12px;
  text-align: center;
  transition: all 120ms ease-out;

  &::after {
    content: "➜";
    padding: 0;
    opacity: 0;
    transition: all 120ms ease-out;
    width: 0;
  }

  &:hover {
    transform: translate(-6px, 0);
    padding: 9px 9px 9px 12px;

    &::after {
      content: "➜";
      padding: 0 0 0 8px;
      opacity: 1;
      width: 16px;
    }
  }

  @media screen and (min-width: 375px) {
    font-size: 14px;
    padding: 12px 16px;

    &:hover {
      padding: 9px 9px 9px 12px;

      &::after {
        padding: 0 0 0 4px;
      }
    }
  }

  @media screen and (min-width: 425px) {
    font-size: 14px;
    padding: 16px 20px;

    &:hover {
      padding: 16px 16px 16px 20px;

      &::after {
        padding: 0 0 0 8px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 24px;
    padding: 16px 20px;

    &:hover {
      padding: 16px 16px 16px 20px;

      &::after {
        padding: 0 0 0 8px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: 28px;
    padding: 16px 32px;

    &:hover {
      padding: 16px 16px 16px 32px;

      &::after {
        padding: 0 0 0 8px;
      }
    }
  }
}

@mixin buttonBlue {
  @include button;
  background-color: $blue-color;
  color: $white-color;

  &:hover {
    background-color: $black-color;
    color: $yellow-color;
  }
}

@mixin buttonYellow {
  @include button;
  background-color: $yellow-color;
  color: $black-color;

  &:hover {
    background-color: $black-color;
    color: $yellow-color;

    svg path {
      fill: $yellow-color;
    }
  }
}

@mixin buttonBlack {
  @include button;
  background-color: $black-color-alt;
  color: $white-color;

  &:hover {
    background-color: $white-color;
    color: $black-color-alt;
  }
}

@mixin buttonWhite {
  @include button;
  background-color: $grey-color;
  color: $black-color;

  &:hover {
    background-color: $white-color-alt;
    color: $black-color;
  }
}
