$black-color: #000000;
$black-color-alt: #2d2323;
$black-color-light: #413b3b;
$black-color-alt-opacity: #2d23231a;
$grey-color: #ecf0f6;
$grey-color-dark: #9e9fa4;
$grey-color-darker: #767676;
$yellow-color: #fedf22;
$yellow-color-hover: #ffef33;
$yellow-color-dark: #dcb400;
$yellow-color-alt: #e4d99a;
$yellow-color-light: #f6eece;
$blue-color: #3355ff;
$blue-color-hover: #4466ff;
$blue-color-dark: #243d6f;
$red-color: #f2604b;
$white-color: #ffffff;
$white-color-opacity: #ffffff8c;
$white-color-alt: #f0f0f0;
$light-white-color: #f9faf5;
$white-blue-color: #c7d7e8;
$white-blue-color-dark: #d3d8de;
$cream-color: #fff8da;
$cream-color-light: #fff8b7;

$cream-gradient-dark: linear-gradient(0deg, #fff8b7 0%, #ffefb7 100%);
$cream-gradient-light: linear-gradient(180deg, #fffbe7 0%, #fffcef 22.67%),
  linear-gradient(180deg, #fff6bf 0%, #fece22 100%);

$font-spoof-trail: var(--font-spoof-trial), sans-serif;
$font-inter: var(--font-inter), sans-serif;
$font-manrope: var(--font-manrope), sans-serif;

$animation: cubic-bezier(0.55, -0.19, 0.59, 1.45);
$animation-2: cubic-bezier(0.55, -0.19, 0.59, 0.95);
