@import "../../styles/variables";
@import "../../styles/mixins";

.compare-plans {
  @include lightShadow;
  background-color: $white-color;
  border-radius: 16px;
  border: 1px solid $white-blue-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__rows,
  &__header {
    display: flex;
    flex-direction: column;
  }

  &__header {
    background-color: $white-blue-color;
    display: none;

    @media screen and (min-width: 850px) {
      display: flex;
    }
  }

  &__row,
  &__header-row {
    align-items: center;
    border-top: 1px solid $white-blue-color;
    display: flex;
    justify-content: space-between;
    gap: 16px;

    @media screen and (min-width: 850px) {
      padding: 16px 24px;
      width: calc(100% - 24px * 2);
    }

    &-item {
      color: $black-color;
      font-family: $font-inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      width: 100%;
      white-space: nowrap;

      @media screen and (min-width: 850px) {
        max-width: 100px;
      }

      &:first-of-type {
        text-align: left;
        margin: 0 auto 0 0;

        @media screen and (min-width: 850px) {
          max-width: 200px;
        }
      }

      &--icon {
        align-items: center;
        display: flex;
        justify-content: center;

        svg {
          border-radius: 50%;
          background-color: $yellow-color;
          padding: 5px;
          height: 14px;
          width: 14px;
        }
      }

      &--empty {
        color: $white-blue-color-dark;
      }
    }
  }

  &__header-row-item {
    font-weight: 700;
  }

  &__row,
  &__header-row {
    display: grid;
    grid-template-columns:
      1fr
      1fr
      1fr
      1fr
      1fr;
    grid-template-rows:
      1fr
      1fr;
    grid-template-areas:
      "a a a a a"
      "b c d e f";
    grid-gap: 0;

    @media screen and (min-width: 850px) {
      display: flex;
    }

    &-item {
      align-self: center;

      @media screen and (min-width: 850px) {
        padding: 0;
        width: 100%;
      }

      &:nth-of-type(1) {
        padding: 12px 24px;
        background-color: $grey-color;
        grid-area: a;

        @media screen and (min-width: 850px) {
          background-color: transparent;
        }
      }

      &:nth-of-type(2) {
        grid-area: b;
      }

      &:nth-of-type(3) {
        grid-area: c;
      }

      &:nth-of-type(4) {
        grid-area: d;
      }

      &:nth-of-type(5) {
        grid-area: e;
      }

      &:nth-of-type(6) {
        grid-area: f;
      }

      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        margin: 0 auto;
        padding: 0;
      }
    }

    &:first-of-type .compare-plans__row-item {
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        font-size: 12px;
        line-height: 16px;

        @media screen and (min-width: 850px) {
          font-size: 16px;
          line-height: 24px;
        }

        &.compare-plans__row-item--pricing {
          display: flex;
          flex-direction: column;

          @media screen and (min-width: 850px) {
            display: block;
          }

          span {
            display: inline-block;
            font-weight: 700;

            @media screen and (min-width: 850px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
