@import "../../styles/mixins";
@import "../../styles/variables";

.test {
  padding: 120px 0 0 0;
  background-color: #404040;

  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    li {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 200px;

      h1 {
        @include titleInterSmall;
      }

      div {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 50px;
        width: 50px;

        svg {
          width: 50px;
        }
      }
    }
  }
}
