@import "../../styles/variables";
@import "../../styles/mixins";

.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__cards {
    align-items: center;
    display: flex;
    gap: 24px;
  }

  &__more-help {
    @include lightShadow;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    grid-template-areas:
      "a"
      "c"
      "b";
    border-radius: 24px;
    padding: 26px 12px;
    width: calc(100% - 2 * 12px);

    @media screen and (min-width: 768px) {
      padding: 40px 24px;
      grid-row-gap: 30px;
      width: calc(100% - 2 * 24px);
    }

    @media screen and (min-width: 950px) {
      grid-column-gap: 60px;
      grid-template-areas:
        "a c"
        "b c";
      grid-template-rows: 1fr 2.5fr;
    }

    &--white {
      background-color: $white-color;
    }

    &--grey {
      background-color: $grey-color;
    }

    &-title {
      @include titleInter;
      margin: 0 0 16px;
      text-align: center;

      @media screen and (min-width: 768px) {
        margin: 0;
        text-align: left;
      }
    }

    > div {
      &:nth-of-type(1) {
        grid-area: a;
      }

      &:nth-of-type(2) {
        grid-area: b;
      }

      &:nth-of-type(3) {
        grid-area: c;
      }

      > p {
        @include descriptionInterBig;
        color: $grey-color-darker;
        text-align: center;

        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;

      @media screen and (min-width: 768px) {
        gap: 10px;
      }
    }

    &-item {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 8px;
      min-width: calc(100% - 30px * 2);
      padding: 10px 30px;

      &:first-of-type {
        padding: 10px 0;
      }

      &:nth-of-type(2) {
        border-top: 1px solid $black-color-border;
        padding: 10px 0;
      }

      &:last-of-type {
        border-top: 1px solid $black-color-border;
        padding: 10px 0;
      }

      @media screen and (min-width: 768px) {
        align-items: flex-start;
        min-width: calc(50% - 30px * 2);

        &:first-of-type {
          padding: 10px 30px 10px 0px;
        }

        &:nth-of-type(2) {
          border-left: 1px solid $black-color-border;
          border-top: 0;
          padding: 10px 0px 10px 30px;
        }

        &:last-of-type {
          border-top: 0;
          padding: 10px 30px 10px 0px;
        }
      }

      p {
        @include descriptionInterBig;
        color: $grey-color-darker;
        text-align: center;
      }

      a {
        align-items: center;
        color: $blue-color;
        display: flex;
        font-family: $font-spoof-trial;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        gap: 4px;

        span {
          align-items: center;
          display: flex;
          justify-content: center;
          height: 18px;
          width: 18px;

          path {
            fill: $blue-color;
          }
        }
      }
    }

    &-image {
      height: 100%;
      margin: 0 auto;
      max-width: 434px;

      @media screen and (min-width: 950px) {
        margin: 0;
      }

      img {
        @include thinnerShadow;
        border: 1px solid $black-color-border;
        border-radius: 14px;
        width: 100%;
      }
    }
  }
}
