@import "../../../styles/variables";
@import "../../../styles/mixins";

.ship {
  background-color: $yellow-color-light;
  border-radius: 24px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  min-height: 100%;
  overflow: hidden;
  position: relative;

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 23px;
    left: 40px;
    position: absolute;
    top: 65px;
    z-index: 1;
  }

  &__title {
    @include title;
    color: $black-color;
    font-family: $font-spoof-trail;
    font-style: normal;
    font-weight: 700;
    text-align: left;
  }

  &__description {
    color: $black-color;
    font-family: $font-inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 350px;
  }

  &__image {
    position: absolute;
    pointer-events: none;

    &--1 {
      right: 0;
      top: 0;
      max-width: 550px;
    }

    &--2 {
      bottom: 0;
      left: 30px;
      max-width: 422px;
      transform-origin: center 195px;
    }
  }

  &__box-size {
    opacity: 0;
    pointer-events: none;
    width: 100%;
  }
}
