@import "../../styles/variables";
@import "../../styles/mixins";

.compare-plans-section {
  &__container {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
  }
}
