@import "../../styles/variables";
@import "../../styles/mixins";

.carousel-section {
  background-color: $blue-color;

  &__container {
    @include container;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 113px;

    button {
      width: 52px !important;
      height: 52px !important;
      padding: 16px !important;

      &::after {
        display: none !important;
      }

      &:hover {
        transform: translate(0, 0);
      }
    }
  }

  &__view {
    @include regularShadow;
    border-radius: 24px;
    height: 464px;
    min-width: 687px;
    position: relative;
    transition: all 120ms ease-in-out;

    img {
      width: 100%;
      transition: all 150ms ease-out;
    }

    &:hover {
      transform: translateY(-10px) !important;
    }
  }
}
