@import "../../styles/variables";
@import "../../styles/mixins";

.ship-partners {
  &__container {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include titleInter;
  }

  &__list {
    align-items: center;
    display: flex;
    gap: 16px;
    padding: 24px 0;
  }

  &__item {
    border: 1px solid $grey-color;
    border-radius: 16px;
    padding: 48px 43px;
    max-width: 120px;

    img {
      width: 100%;
    }
  }

  &__description {
    @include descriptionInterBig;
    color: $grey-color-darker;
  }
}
