@import "../../styles/variables";
@import "../../styles/mixins";

.image-card {
  @include thinShadow;
  background-color: $light-white-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 200ms $animation-2;
  width: 100%;

  &:last-of-type {
    height: 453px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    z-index: 1;

    &--smaller-text {
      padding: 10px;

      @media screen and (min-width: 1064px) {
        padding: 20px;
      }
    }
  }

  &__title {
    @include titleInter;
    text-align: left;

    &--smaller-text {
      @include titleInterSmall;
    }
  }

  &__description {
    @include descriptionManrope;

    &--smaller-text {
      @include descriptionManropeSmall;
    }
  }

  &__link {
    @include buttonBlue;
  }

  &__image {
    left: 0;
    bottom: 0px;
    display: flex;
    height: 50%;
    margin: auto 0 0 0;
    position: absolute;
    width: 100%;
    z-index: 0;

    img {
      width: 100%;
    }
  }
}
