@import "../../styles/variables";
@import "../../styles/mixins";

.theme {
  &--standard {
    &:hover {
      transform: translate(0, 40px);
    }
  }

  &-card {
    @include lightShadow;
    border-radius: 24px;
    height: 475px;
    min-height: 100%;
    overflow: hidden;
    position: relative;

    &--grocbay {
      background-color: $red-color-light;
    }

    &--restobite {
      background-color: $yellow-color-light-2;
    }

    &--aura {
      background-color: $green-color;
    }

    &--moo-chew {
      background-color: $purple-color;
    }

    &--marketplace {
      background-color: $purple-color;
    }

    img {
      pointer-events: none;
    }

    &__content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 23px;
      height: calc(100% - 2 * 65px);
      max-width: 460px;
      padding: 65px 40px;
      position: absolute;
      top: 0;
      z-index: 2;
    }

    &__title {
      color: $black-color;
      font-family: $font-spoof-trail;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px;
      text-align: left;

      span {
        border-radius: 22px;
        background: $yellow-color;
        padding: 0 10px;
      }
    }

    &__description {
      color: $black-color;
      font-family: $font-inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }

    &__image {
      position: absolute;

      &--1 {
        z-index: 1;

        &.theme-card__image {
          &--grocbay {
            bottom: 0;
            left: 0;
            max-width: 300px;
          }

          &--restobite {
            bottom: 20px;
            left: -20px;
            max-width: 200px;
          }

          &--aura {
            left: 0px;
            bottom: 0;
            max-width: 250px;
          }

          &--moo-chew {
            left: -10px;
            top: -10px;
            max-width: 140px;
          }

          &--marketplace {
            left: -50px;
            top: 40px;
            max-width: 250px;
          }
        }
      }

      &--2 {
        z-index: 1;

        &.theme-card__image {
          &--grocbay {
            top: 20px;
            max-width: 250px;
            right: 0;
          }

          &--restobite {
            top: -20px;
            right: -20px;
            max-width: 200px;
          }

          &--aura {
            bottom: 0px;
            right: 0;
            max-width: 250px;
          }

          &--moo-chew {
            right: -20px;
            bottom: 0px;
            max-width: 180px;
          }

          &--marketplace {
            left: 0px;
            bottom: 0px;
            max-width: 280px;
          }
        }
      }

      &--3 {
        bottom: 0;
        left: calc(50% - 350px / 2);
        max-width: 350px;
        z-index: 3;

        &.theme-card__image {
          &--marketplace {
            left: auto;
            right: -120px;
            bottom: 0px;
            max-width: 400px;
            z-index: 1;
          }
        }
      }

      &--4 {
        bottom: 0;
        left: -20px;
        max-width: 600px;
        z-index: 1;
      }

      &--5 {
        bottom: 0;
        right: -20px;
        max-width: 300px;
        z-index: 1;

        &.theme-card__image--mobile {
          max-width: 400px;
          right: auto;
          left: calc(50% - 400px / 2);

          &.theme-card__image {
            &--marketplace {
              left: calc(50% - 320px / 2);
              max-width: 320px;
            }
          }
        }
      }
    }

    &__box-size {
      opacity: 0;
      width: 100%;
    }

    &__links {
      align-items: center;
      bottom: 20px;
      display: flex;
      gap: 8px;
      left: calc(50% - (50px + 8px + 50px) / 2);
      max-width: 380px;
      position: absolute;
      z-index: 3;

      span {
        @include regularShadow;
        border-radius: 50%;
        height: 50px;
        overflow: hidden;
        transition: all 150ms ease-out;
        width: 50px;

        &:hover {
          transform: translate(0, -5px) !important;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  &__title {
    align-items: center;
    color: $black-color;
    display: flex;
    font-family: $font-inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    justify-content: space-between;
    line-height: 32px;

    span {
      align-items: center;
      display: flex;
      justify-content: center;

      &:last-of-type {
        margin: 0 0 0 5px;
      }
    }
  }

  &__description {
    overflow: hidden;
    color: $grey-color-darker;
    text-overflow: ellipsis;
    font-family: $font-inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}
