@import "../../styles/variables";
@import "../../styles/mixins";

.image-cards {
  align-items: center;
  display: flex;
  gap: 12px;

  > li {
    max-width: 25%;

    .image-card {
      max-height: 350px;

      &__title {
        @include titleInter;
      }

      &__description {
        @include descriptionManrope;
      }
    }
  }

  &--wrap {
    align-items: unset;
    background-color: $yellow-color-dark;
    border-radius: 28px;
    display: grid;
    gap: unset;
    grid-gap: 13px;
    grid-template-areas:
      "a b e"
      "c d e";
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 220px 220px;
    padding: 13px;

    li {
      display: flex;
      flex-direction: column;
      max-width: 100%;

      &:nth-of-type(1) {
        grid-area: a;
      }

      &:nth-of-type(2) {
        grid-area: b;
      }

      &:nth-of-type(3) {
        grid-area: c;
      }

      &:nth-of-type(4) {
        grid-area: d;
      }

      &:nth-of-type(5) {
        grid-area: e;
      }

      .image-card {
        max-height: 100%;

        &:hover {
          cursor: pointer;
          transform: translate(3px, -5px);
        }

        &__title {
          @include titleInterSmall;
        }

        &__description {
          @include descriptionManrope;
        }
      }
    }
  }
}
