@import "../../styles/variables";
@import "../../styles/mixins";

@import "../AnimatedCard/AddOns";

.big-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  > li {
    width: 100%;

    &.big-cards {
      &__add-ons {
        @include addOnsCard;
      }
    }
  }

  &--big {
    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1175px) {
      flex-wrap: nowrap;
    }

    > li {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: calc(50% - 12.5px);
      }

      &:last-of-type {
        width: 100%;
      }
    }
  }
}
