@import "../../styles/variables";
@import "../../styles/mixins";

@import "../AnimatedCard/AddOns";
@import "../AnimatedCard/Ship";
@import "../AnimatedCard/HowToGuides";
@import "../AnimatedCard/Delivery";
@import "../AnimatedCard/CustomerManagement";
@import "../AnimatedCard/Hassle";
@import "../AnimatedCard/Customization";
@import "../AnimatedCard/Support";
@import "../AnimatedCard/Mobile";
@import "../AnimatedCard/TechnologyPartner";
@import "../AnimatedCard/Marketing";

.big-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  > li {
    width: 100%;

    > * {
      height: 100%;
    }

    &.big-cards {
      &__add-ons {
        @include addOnsCard;
      }

      &__ship {
        @include shipCard;
      }

      &__how-to-guides {
        @include howToGuidesCard;
      }

      &__delivery {
        @include deliveryCard;
      }

      &__customer-management {
        @include customerManagementCard;
      }

      &__hassle {
        @include hassleCard;
      }

      &__customization {
        @include customizationCard;
      }

      &__support {
        @include supportCard;
      }

      &__mobile {
        @include mobileCard;
      }

      &__technology-partner {
        @include technologyPartnerCard;
      }

      &__marketing {
        @include marketingCard;
      }
    }
  }

  &--big {
    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1175px) {
      flex-wrap: nowrap;
    }

    > li {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: calc(50% - 12.5px);
      }

      &:last-of-type {
        width: 100%;
      }
    }
  }

  &--how-to-guides-blog {
    flex-wrap: wrap;

    @media screen and (min-width: 945px) {
      flex-wrap: nowrap;
    }
  }

  &--girl-with-laptop-man-with-tablet-man-with-speaker {
    > li {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 12.5px);
        height: 400px;

        .animated-card {
          &__title {
            @include titleSpoofTrialSmall;
            text-align: left;
          }
        }
      }

      @media screen and (min-width: 1175px) {
        width: calc(100% / 3 - 12.5px) !important;
        height: 450px;
      }
    }
  }
}
