@import "../../../styles/variables";
@import "../../../styles/mixins";

.image-card {
  @include thinShadow;
  background-color: $light-white-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 350px;
  min-width: 232px;
  overflow: hidden;
  position: relative;
  transition: all 200ms $animation-2;
  width: 100%;

  &--carousel {
    min-width: 300px;
  }

  &--standard {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    z-index: 1;
  }

  &__title {
    @include titleInter;
    text-align: left;
  }

  &__description {
    @include descriptionManrope;
  }

  &__link {
    @include buttonBlue;
  }

  &__image {
    align-items: flex-end;
    bottom: -180px;
    display: flex;
    flex-direction: column;
    left: 0;
    height: 180px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 0;

    img {
      margin: auto 0 0;
      width: 100%;
    }
  }
}
