@import "../../styles/variables";
@import "../../styles/mixins";

.accordion-section {
  background-color: $grey-color;
  transition: all 430ms ease-out;

  &__container {
    @include container;
    display: flex;
    gap: 24px;
    transition: all 430ms ease-out;
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 375px;
    transition: all 430ms ease-out;
  }

  &__title {
    color: $black-color-alt;
    font-family: $font-spoof-trail;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
  }

  &__link {
    @include buttonBlue;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    width: 100%;
    transition: all 430ms ease-out;
  }

  &__button {
    @include thinnerShadow;
    background-color: $white-color-opacity;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 24px;
    width: 100%;

    &-title {
      align-items: center;
      color: $black-color;
      background-color: transparent;
      display: flex;
      font-family: $font-inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      justify-content: space-between;
      line-height: 32px;
      width: 100%;

      span {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    &-content {
      display: grid;
      grid-template-rows: 0fr;
      transition: all 250ms $animation-2;

      &--active {
        grid-template-rows: 1fr;
      }
    }

    &-description {
      color: $black-color;
      font-family: $font-inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      overflow: hidden;
      text-align: left;
    }
  }

  &__icon {
    transform: rotate(0);
    transition: all 220ms ease-out;

    &--active {
      transform: rotate(180deg);
    }
  }
}
