@import "../../styles/variables";
@import "../../styles/mixins";

.banner {
  background-color: $blue-color;
  position: relative;

  > img {
    z-index: 0;
  }

  &__container {
    @include container;
    display: flex;
    padding: 0 !important;
    position: relative;
    z-index: 1;
  }

  &__image {
    position: relative;
    min-width: 565px;

    img {
      width: 100%;
    }
  }

  &__content {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 700px;
  }

  &__icon {
    margin: 0 0 26px;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
    margin: 32px 0;
  }

  &__button {
    @include buttonYellow;
  }

  &__link {
    align-items: center;
    display: flex;
    margin: 24px 0 0;

    &-text {
      @include common-text;
      color: $yellow-color;
      font-weight: 700;
      margin: 0 4px 0 0;
      transition: all 150ms $animation-2;
    }

    &-icon {
      align-items: center;
      display: flex;
      justify-content: center;
      transition: all 150ms $animation-2;

      svg {
        fill: $yellow-color;
      }
    }

    &:hover &-text {
      color: $yellow-color-hover;
    }

    &:hover &-icon {
      transform: translate(10px, 0);

      svg {
        fill: $yellow-color-hover !important;
      }
    }
  }

  &__content--split.banner__content {
    align-items: flex-start;
    margin: 0 0 0 86px;

    * {
      text-align: left !important;
    }
  }
}
